parameters:
    ignoreErrors:
        -
            message: "#^Call to an undefined method Symfony\\\\Component\\\\Validator\\\\ConstraintViolationInterface\\:\\:getCause\\(\\)\\.$#"
            reportUnmatched: false

        -
            message: "#^Call to an undefined method Symfony\\\\Component\\\\Validator\\\\ConstraintViolationInterface\\:\\:getConstraint\\(\\)\\.$#"
            reportUnmatched: false

        -
            message: '#^Parameter \#9 \$constraint of class Symfony\\Component\\Validator\\ConstraintViolation constructor expects Symfony\\Component\\Validator\\Constraint\|null, mixed given\.$#'
            identifier: argument.type
            path: src/ExceptionalMatcher/Integration/Validator/Formatter/Embedded/ViolationsEmbeddedExceptionFormatter.php
            reportUnmatched: false
        -
            message: '#^Access to an undefined property Symfony\\Component\\Uid\\Exception\\InvalidArgumentException\:\:\$invalidValue\.$#'
            identifier: property.notFound
            path: src/ExceptionalMatcher/Mapping/Object/Property/Catch_/Condition/Integration/Uid/InvalidUidExceptionMatchCondition.php
            reportUnmatched: false
