includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/tomasvotruba/type-coverage/config/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpat/phpat/extension.neon
    - phpstan-vendor-baseline.neon

parameters:
    level: max
    phpVersion:
        min: 80100
        max: 80499
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    paths:
        - src
        - tests
        - upgrade
    excludePaths:
        analyse:
            # Property hook syntax is not supported at the minimum PHP version
            - src/*/*Hooked*.php
    fileExtensions:
        - 'php'
    stubFiles:
        - stubs/ContainerInterface.stub
    bootstrapFiles:
        - stubs/SymfonyUidInvalidArgumentException.php
    ignoreErrors:
        - identifier: property.unused
          message: '/^Property PhPhD\\[\w\\]+\\Stub\\\w+::\$\w+ is unused\.$/'
        - identifier: property.onlyWritten
          message: '/^(Static )?(Property|property) PhPhD\\[\w\\]+\\Stub\\\w+::\$\w+ is never read, only written\.$/'
        - identifier: property.unusedType
          message: '/^Property PhPhD\\[\w\\]+\\Stub\\\w+::\$\w+ \(.+\) is never assigned .+ so it can be removed from the property type\.$/'
        - identifier: missingType.iterableValue
          message: '/^(Static )?(Method|Property|property) PhPhD\\[\w\\]+\\Stub\\\w+::[\$\w\(\)]+ .* no value type specified (in )?iterable type array\.$/'
    type_coverage:
        declare: 100
        return_type: 100
        param_type: 100
        property_type: 100
        constant: 0 # requires php 8.3
    phpat:
        ignore_built_in_classes: true

services:
    -
        class: PhPhD\ExceptionalMatcher\Tests\ArchitectureRuleSet
        tags:
            - phpat.test
    -
        class: PhPhD\ExceptionalMatcher\Tests\TestsArchitectureRuleSet
        tags:
            - phpat.test
